@model IEnumerable<Aluno.Entity.Professor>

@{
    ViewBag.Title = "List";
}

<table>
    <tr>
        <th>
            Nome
        </th>
        <th>
            Graduação
        </th>
        <th>
            Especialização
        </th>
        <th>
            Materia
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Graduacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especializacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia)
            </td>
            <td>
                <input type="button" value="Editar"
                       onclick="aluno(@item.idProfessor);" /> |
                @Html.ActionLink("Delete", "Delete", new { id = item.idProfessor },
                new { @onclick = "return confirm('Tem certeza?');" })
            </td>
        </tr>
    }

</table>
<script>
    function professor(id) {
        editar(id);
    }
</script>